<!-- 自分の投稿一覧 -->

<!--フラッシュメッセージ-->
<div>
  <%= flash[:notice] %>
</div>

<h2>Books</h2>

  <table>
   <thead>
     <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
     </tr>
   </thead>
   <% @books.each do |book| %>
   <tbody>
     <tr>
       <td>
           <%= link_to user_path(@user.id) do %>
              <%= image_tag @user.get_profile_image(100,100) %>
           <% end %>
       </td>

       <td><%=link_to book.title , book_path(book.id) %></td>
       <td><%= book.body %></td>
     </tr>
   </tbody>
   <% end %>
 </table>

 <!--部分テンプレート呼び出し-->
 <%= render 'books/side', user: @user, book: @book %>
