<!--部分テンプレート-->
<h2>User info</h2>
  <!--プロフィール画像-->
  <p><%= image_tag user.get_profile_image(100,100) %></p>
  <table class="table">
    <tbody>
       <tr></tr>
       <!--ユーザーネーム-->
       <tr>
         <th>name</th>
         <th><%= user.name %></th>
       </tr>
        <!--自己紹介-->
       <tr>
         <th>introduction</th>
         <th><%= user.introduction %></th>
       </tr>
    </tbody>
  </table>
 <div class="row">
  <%= link_to edit_user_path(user.id),class: 'btn btn-outline-dark btn-block edit_user_id' do%>
   <i class="fa-solid fa-user-gear"></i>
  <% end %>
 </div>
 <!--新規投稿-->
 <h2 class="mt-3">New book</h2>
   <%= form_with model: Book.new do |f| %>
    
    <p>Title</p>
      <%= f.text_field :title %>
    <p>Opinion</p>
      <%= f.text_area :body %>
      
    <%= f.submit 'Create Book', class: "btn btn-success mt-3" %>
  <% end %>

 